* { 
	margin: 0; 
	padding: 0; 
}
body { 
	font: 16px Helvetica, Sans-Serif; 
	line-height: 24px; 
	background: url(../img/noise.jpg); 
}
.clear { 
	clear: both; 
}
#page-wrap {
	width: 800px; 
	margin: 40px auto 60px; 
}
#pic { 
	float: right; 
	margin: -30px 0 0 0; 
}
h1 { 
	margin: 0 0 16px 0; 
	padding: 0 0 16px 0; 
	font-size: 42px;  
	font-weight: bold; 
	letter-spacing: -2px; 
	border-bottom: 1px dotted #999; 
}
h2 { 
	font-size: 20px;
	margin: 0 0 6px 0; 
	position: relative; 
}
h2 span { 
	position: absolute; 
	bottom: 0; 
	right: 0; 
	font-style: italic; 
	font-family: Georgia, Serif; 
	font-size: 16px; 
	color: #999; 
	font-weight: normal;
}
p { 
	margin: 0 0 16px 0; 
}
a { 
	color: #535353; 
	text-decoration: none; 
	border-bottom: 1px dotted #535353; 
}
a:hover { 
	border-bottom-style: dotted; 
	color: black; }
ul { 
	margin: 0 0 32px 17px; 
}
#objective { 
	width: 500px; 
	float: left; 
}
#objective p { 
	font-family: Georgia, Serif; 
	font-style: italic; 
	color: #666; 
}
dt { 
	font-style: italic; 
	font-weight: bold; 
	font-size: 18px; 
	text-align: right; 
	padding: 0 26px 0 0; 
	width: 150px; 
	float: left; 
	height: 100px; 
	border-right: 1px dotted #999;  
}
dd { 
	width: 700px; 
	float: right; 
}
dd.clear { 
	float: none; 
	margin: 0 0 0 0; 
	height: 15px; 
}
.description {
	margin: 0 0 6px 0;
}
.skills {
	height: 122px;
}
.workexperience {
	height: 137px;
}
.education {
	height: 122px;
}
.hobbies {
	height: 27px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.fn {
		width: 60%
	}
	dd {
		float: right; 
		width: 72%; 	
	}
	dt {
		width:24%; 
		text-align: left;
	}
	.contact {
		width: 80%;
	}
	.briefintroduction {
		width: 80%;
	}
	.information {
		width: 60%;
	}
	.skills {
		height: 150px;
	}
	.workexperience {
		height: 210px;
	}
	.education {
		height: 212px;
	}
	.hobbies {
		height: 22px;
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.contact {
		width: 50%;
	}
	.information {
		width: 50%;
	}
	.briefintroduction {
		width: 30%;
	}
	.languages {
		width: 30%;
	}
	.tools {
		width: 50%;
	}
	.workdescription {
		width: 50%;
	}
	.tasks ul li{
		width: 50%;
	}
	.unidescription {
		width: 20%;
	}
	.highschoolddescription {
		width: 20%;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.contact {
		width: 77.419%;
	}
	.information {
		width: 77.419%;
	}
	.briefintroduction {
		width: 77.419%;
	}
	.languages {
		width: 77.419%;
	}
	.tools {
		width: 77.419%;
	}
	.workdescription {
		width: 77.419%;
	}
	.tasks ul li{
		width: 77.419%;
	}
	.unidescription {
		width: 77.419%;
	}
	.highschoolddescription {
		width: 77.419%;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.contact {
		width: 100%;
	}
	.information {
		width: 100%;
	}
	.briefintroduction {
		width: 100%;
	}
	.languages {
		width: 100%;
	}
	.tools {
		width: 100%;
	}
	.workdescription {
		width: 100%;
	}
	.tasks ul li{
		width: 100%;
	}
	.unidescription {
		width: 100%;
	}
	.highschoolddescription {
		width: 100%;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.contact {
		width: 120%;
	}
	.information {
		width: 120%;
	}
	.briefintroduction {
		width: 120%;
	}
	.languages {
		width: 120%;
	}
	.tools {
		width: 120%;
	}
	.workdescription {
		width: 120%;
	}
	.tasks ul li{
		width: 120%;
	}
	.unidescription {
		width: 120%;
	}
	.highschoolddescription {
		width: 120%;
	}
}

